<h1 class="title">Login</h1>
<form action="/confirm/user" method="POST" class="form">
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Insira seu Email" />
  <label for="password">Senha: </label>
  <input type="text" name="password" placeholder="Insira sua Senha" />
  <input type="submit" value="Enviar" />
</form>