<h1 class="title">Login</h1>
<form action="/login" method="POST" class="form">
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Insira seu Email" required />
  <label for="password">Senha: </label>
  <input type="password" name="password" placeholder="Insira sua Senha" required />
  <input type="submit" value="Enviar" />
</form>